body {
  font-family: "Avenir Next";
  display: flex;
  margin: 0;
}

#sidebar {
  width: 200px;
  float: left;
  margin: 20px;
}

#sidebar ul,
#sidebar li {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

#main {
  width: 1000px;
}

button,
input {
  font-family: "Avenir Next";
}

.playerRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.letterSquare {
  width: 100px;
  height: 100px;
  color: aliceblue;
  background-color: darkblue;
  border-color: aliceblue;
  font-size: 48px;
}

.selected {
  color: aquamarine;
  background-color: darkmagenta;
}

h3 {
  font-size: 16px;
}

.inputCol input {
  height: 25px;
  flex-grow: 1;
  margin: 0 0 0 8px;
  padding: 1px 0 0 5px;
}

.inputCol .addPlayer {
  height: 30px;
  flex-grow: 1;
  margin: 0 0 0 8px;
}

.addPlayer {
  height: 30px;
  padding: 0 50px;
  margin: 16px 80px 16px 80px;
  width: 200px;
}

.inputCol {
  display: flex;
  width: 250px;
}

.delete {
  font-size: 14px;
  height: 30px;
  padding: 0px 8px 0px 8px;
}

.inputGroup {
  width: 400px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

.settingsGroup {
  display: flex;
  margin: 8px;
  align-items: first baseline;
}

.inputGroupLabel {
  width: 150px;
  text-align: right;
  padding-right: 16px;
}

dialog {
  border: 2px black;
  width: 500px;
  flex-direction: column;
  position: fixed;
  bottom: 500px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 3px 7px;
}

.footer {
  display: flex;
  height: 100px;
  width: 100%;
  align-items: end;
  justify-content: flex-end;
}

.footer button {
  height: 50px;
  margin: 10px 5px;
  padding: 0px 15px;
  font-size: 16px;
}

.content {
  display: flex;
  justify-content: flex-start;
  align-items: first baseline;
}

.gamePanel {
  padding-right: 30px;
  display: flex;
  flex-direction: column;
}

.gamePanel input {
  font-size: 16px;
  width: 80%;
  height: 30px;
}

.search {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}

.searchBtn {
  flex-grow: 1;
}

.searchBar {
  flex-grow: 10;
}

.searchBtn,
.openSettings {
  font-size: 16px;
  height: 36px;
  padding: 0px 10px 0px 10px;
  width: 40px;
}

.resultsPanel {
  justify-content: center;
  align-items: center;
}

.score {
  float: right;
  font-weight: 100;
  margin-left: 20px;
}

.openSettings {
  float: right;
  margin-top: 10px;
}

.headerBtn {
  float: right;
  margin: 10px;
  height: 36px;
  padding: 0 20px;
}

.endTurn,
.beeButton {
  height: 35px;
  padding: 0 20px 0 20px;
}

.error {
  color: maroon;
}

.hexagon {
  background-color: darkblue;
  color: aliceblue;
  border-color: aliceblue;
  height: 120px;
  width: 120px;
  padding: 25px;
  margin: -35px 35px;
  border-radius: 60px;
  font-size: 48px;
}

.centerTile {
  background-color: darkgoldenrod;
  z-index: 1;
  margin: -30px 10px;
  width: 120px;
}

.spellingBeeRow {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.spellingBeeBoard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 70px 0px;
}

.beeButtons {
  display: flex;
  justify-content: space-between;
}

/* flex could go based on columns - 3 columns rather than 5 rows 
Search - 
*/
